parameters:
    level: 8
    checkMissingIterableValueType: false
    paths:
        - src/
        - tests/
    ignoreErrors:
        -
            message: '#Property .* does not accept object.#'
            paths:
                -  src/ApiClient.php
includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon


